@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

body {
  margin: 0;
  min-width: 100%;
  background-color: black;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}

.root {
  width: 100%;
}
